@import "tailwindcss";

.font-logo {
  font-family: var(--font-logo) !important;
  letter-spacing: -0.05em;
}

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  a {
    @apply text-inherit no-underline;
  }

  menu,
  ol,
  ul {
    @apply list-none;
  }

  Image,
  video {
    @apply max-w-full align-middle;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  input:focus {
    @apply outline-none;
  }

  button:focus {
    @apply outline-none;
  }

  table {
    @apply border-collapse;
  }

  address,
  i,
  em {
    font-style: normal;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .blind {
    @apply absolute top-[-9999px];
  }

  .hero-cover {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.3) 100%
    );
  }
}

/* common color */
@theme {
  --color-tom-main: oklch(0.7474 0.1334 252.65);
  --color-tom-border: oklch(0.82 0 0);
  --color-tom-text: oklch(0.49 0.073 286.36);
}

@layer utilities {
}
